{% extends "base.html" %}


<!-- Meta information -->
{% block head %}
{{ super() }}
{% endblock %}

{% block meta %}
<meta name="og:title" content="{{ article.title }}" />
<meta name="og:url" content="{{ SITEURL }}/{{article.url}}"/>
<meta name="og:site_name" content="{{ SITENAME }}"/>
<meta name="og:type" content="blog"/>

<meta name="description" content="{{ article.description }}" />
<meta name="og:description" content="{{ article.description }}" />
{% endblock %}

<!-- Content start here -->
{% block content %}

<section id="content" class="section-content">
  <div class="card mb-5 article-detail-card">
    <div class="card-body">
      <h4 class="card-title article-detail-card__title">{{ article.title }}</h4>
      <h6 class="card-subtitle mb-2 text-muted article-detail-card__date">{{ article.locale_date }}</h6>
      <p class="card-text article-detail-card__content">
        {{ article.content }}
      </p>
    </div>
  </div>

  <!-- disqus comments -->
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <div class="addthis_inline_share_toolbox"></div>
  <div id="disqus_divider"></div>
  <div id="disqus_thread"></div>

</section>

<!-- disqus -->
<script>
 /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
 var disqus_config = function () {
   this.page.url = "{{ SITEURL }}";
   this.page.identifier = "{{ article.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
 };
 (function() {
   // DON'T EDIT BELOW THIS LINE
   var d = document,
     s = d.createElement("script");
   s.src = "https://{{ DISQUS_SITENAME }}.disqus.com/embed.js";
   s.setAttribute("data-timestamp", +new Date());
   (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
