<footer class="footer bg-dark">
  <div class="container d-flex">
    <div class="footer__copyright text-white">
      © 2017 Kyung Mo Kweon All Rights Reserved
    </div>
    <div class="footer__contact">
      <div class="footer__contact__item">
        <a href="mailto:kkweon@gmail.com" class="footer-link">
          <i class="fa fa-envelope-o fa-lg"></i> Email
        </a>
      </div>
      <div class="footer__contact__item">
        <a href="https://github.com/kkweon" class="footer-link">
          <i class="fa fa-github fa-lg" aria-hidden="true"></i> Github
        </a>
      </div>

    </div>
  </div>
</footer>
