<footer class="footer bg-dark">
  <div class="container d-flex flex-row justify-content-end align-items-center">
    <div class="p-1 text-white">
    © 2017 Kyung Mo Kweon All Rights Reserved
    </div>
    <div class="ml-auto p-1">
      <a href="mailto:kkweon@gmail.com" class="footer-link">
        <i class="fa fa-envelope-o fa-lg"></i> Email
      </a>
    </div>
    <div class="ml-3 p-1">
      <a href="https://github.com/kkweon" class="footer-link">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i> Github
      </a>
    </div>
  </div>
</footer>
