{% extends "base.html" %}
{% block content %}
<section class="section-index">

  {% block content_title %}
  {% endblock %}

  {% for article in articles_page.object_list %}
  <div class="card mb-5 article-card">
    <div class="card-body">
      <h4 class="card-title article-card__title">{{ article.title }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ article.locale_date }}</h6>
      <p class="card-text article-card__summary">
        {{ article.summary }}
      </p>
      <a class="card-link btn btn-light" href="{{ SITEURL }}/{{ article.url }}">Read</a>
    </div>
  </div>
  {% endfor %}

  <!-- /#posts-list -->
  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}

</section>
<!-- /#content -->
{% endblock content %}
