{% extends "base.html" %}

<!-- Head -->
{% block head %}
{{ super() }}
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% endif %}

{% for tag in page.tags %}
<meta name="tags" content="{{ tag }}" />
{% endfor %}
{% endblock %}

<!-- Title -->
{% block title %}
{{ page.title }}
{%endblock%}

<!-- content -->
{% block content %}
<section class="section-page">
  <div class="card mb-5 article-card">
    <div class="card-body">
      <p class="card-text">
        {{ page.summary }}
      </p>
    </div>
  </div>

</section>
{% endblock %}
