/* Extra Small */

@media (max-width: 575px) {
    html,
    body {
        font-size: 12px;
    }

    .article-detail-card {
        font-size: 12px;
    }
    .article-detail-card h1 {
        font-size: 150%;
    }

    .article-detail-card h2 {
        font-size: 110%;
    }

    .article-detail-card__title {
      font-size: 160% !important;
    }

    .article-detail-card h4,
    .article-detail-card h5,
    .article-detail-card h6 {
        font-size: 100%;
    }
}


/* Small Device */

@media (max-width: 767px) {}


/* Medium Device */

@media (max-width: 991px) {}


/* Large Device */

@media (min-width: 1199px) {}
